#sidebar h3 {
	color: #ffffff !important;
	margin-top: 0rem;
	text-align: center;
	font-size: 24px;
}

.searchBar {
	padding: 1rem;
}

#sidebar a.padding, #header {
	font-size: 1.1rem;
    padding: 0.2rem 0.45rem;	
}

#tags .padding
{
	padding: 0 0px !important;
	margin : 0.75rem 0 0rem 0;
	line-height: 2.5rem !important;
}

#sidebar .fas, #sidebar .fab {
    padding-right: 5px !important;
}

#sidebar ul.topics > li > a {
	line-height: 2.5rem !important;
}

#sidebar .highlightable {
	padding: 1rem;
}

#sidebar ul.topics {
    margin: 0rem !important;
}

.centerText {
	text-align: center !important;
}

.searchbox input::-webkit-input-placeholder {
    color: #000000;
}
.searchbox input::-moz-placeholder {
    color: #000000;
}
.searchbox input:-moz-placeholder {
    color: #000000;
}
.searchbox input:-ms-input-placeholder {
    color: #000000;
}

hr {
	margin : 0.7rem 0 1.7rem 0 !important;
}

li.dd-item.articles {
    display: block;
	padding: 5px;
	font-size: 18px;
}

#sidebar h5 {
	margin : 5px 0px !important;
}

.fa-journal-whills:before {
	padding-right: 5px !important;
}

#footer {
    padding: 2rem 1rem;
	font-size: 17px;
	background-color: var(--MENU-SECTIONS-BG-color);
}

p {
	font-size : 18px;
}